<%= simple_form_for(@rooftop) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price %>

    <div>
      <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
    </div>
<% end %>
