<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : Rooftop %></title>
    <%= favicon_link_tag asset_path('logo_green.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script src="https://kit.fontawesome.com/b4e5ca6111.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if controller.controller_name == "pages" && controller.action_name == "home" %>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0)), url('https://a0.muscache.com/4ea/air/v2/pictures/41d7e198-fcfc-41d5-8735-3fe64c358d90.jpg?t=r:w2500-h1500-sfit,e:fjpg-c90');">
        <%= render "shared/navbar" %>
        <div class="container homepage">
          <h1>Rent a rooftop, terrace or patio anywhere</h1>
          <p><span id="banner-typed-text"></span></p>
          <%= link_to "Find a rooftop!", rooftops_path, {class: "btn btn-primary"} %>
        </div>
      </div>
    <% else %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
    <%#= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
